@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --dark: #232830;
  --hospital-green: #acd9b2;
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  appearance: none;
  box-sizing: border-box;
}
